<div class="row">
    <div class="col-md-12">
        <h2>Items
            <a href="/Items/add" class="btn btn-success pull-right">Add Item</a>
        </h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Items ID</th>
                        <th>Title</th>
                        <th>Post Date</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Published</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{title}}</td>
                        <td>{{#formatDate postDate}}{{/formatDate}}</td>
                        <td><a href="/items?category={{category}}">{{category}}</a></td>
                        <td>{{price}}</td>
                        <td>{{published}}</td>
                        <td><a href="items/delete/{{id}}" class="btn btn-danger">remove</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
        {{#unless items}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
        {{/unless}}
</div>